.meal-page-container {
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr;

  .meal-header {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
  }

  .meal-info {
    width: 100%;
    max-width: 800px;
    column-gap: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .label {
    font-size: 20px;
    font-weight: 600;
  }
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  height: 100%;
  flex: 1;
  overflow: auto;
  gap: 8px;
}

.ingredient {
  display: flex;
  align-items: center;
}

.meal {
  padding: 24px;
  width: 600px;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 20px 0;
  border: 1px solid var(--secondary-color);
  display: flex;
  gap: 16px;

  .title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }

  .meal-image {
    width: 200px;
    border-radius: 8px;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .meal-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
  }
}
