@import url('@/app/reset.css');
@import url('@/app/normalize.css');

/* Primary and Accent Colors */
:root {
  --hunyadi-yellow: #f6bd60ff;
  --linen: #f7ede2ff;
  --tea-rose-red: #f5cac3ff;
  --cambridge-blue: #84a59dff;
  --light-coral: #f28482ff;
  --primary-color: var(--hunyadi-yellow);
  --accent-color: var(--tea-rose-red);
  --secondary-color: var(--cambridge-blue);
  --background-color: var(--linen);
  --error-color: var(--light-coral);
}

body {
  background-color: var(--background-color);
  color: black;
}

a,
a:visited {
  color: var(--white);
  text-decoration: none;
}
