.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-bar {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  transition: all 0.3s ease;
}

.search-bar:focus {
  border-color: var(--primary-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  outline: none;
}

.search-bar::placeholder {
  color: #999;
  font-style: italic;
}

.search-button {
  display: inline-block;
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: var(--primary-color);
  filter: brightness(110%);
}
